package ${packageName}.controller;

import io.swagger.annotations.ApiOperation;
import io.swagger.annotations.ApiParam;
import io.swagger.annotations.ResponseHeader;
import lombok.extern.slf4j.Slf4j;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;
import ${packageName}.entity.${ClassName};
import ${packageName}.service.${ClassName}Service;
import ${packageName}.common.entity.Page;
import ${packageName}.common.util.ResultUtils;
import ${packageName}.common.vo.Result;

/**
 * @ClassName ${ClassName}Controller
 * @Description TODO
 * @Author 江神
 * @Date ${now}
 * @Version 1.0
 **/
@RestController
@Slf4j
@RequestMapping("/api")
public class ${ClassName}Controller {
    @Autowired
        ${ClassName}Service ${className}Service;

    @ApiOperation(value = "添加${ClassName}")
    @PostMapping(value = "/${className}")
    public Result add${ClassName}(@ApiParam("${ClassName}") @RequestBody ${ClassName} ${className}) {
        log.info("{}", "add${ClassName}");
        int res = ${className}Service.add${ClassName}(${className});
        if (res == 1) {
            return ResultUtils.success();
        } else {
            return ResultUtils.error("添加失败");
        }

    }

    @ApiOperation(value = "修改${ClassName}")
    @PutMapping(value = "/${className}")
    public Result update${ClassName}(@ApiParam("${ClassName}") @RequestBody ${ClassName} ${className}) {
        log.info("{}", "update${ClassName}");
        int res = ${className}Service.update${ClassName}(${className});
        if (res == 1) {
            return ResultUtils.success();
        } else {
            return ResultUtils.error("修改失败");
        }
    }

    @ApiOperation(value = "删除${ClassName}")
    @DeleteMapping(value = "/${className}/{id}")
    public Result delete${ClassName}ById(@ApiParam("id") @PathVariable("id") ${primaryKey.javaType} id) {
        log.info("{}", "delete${ClassName}ById");
        int res = ${className}Service.delete${ClassName}ById(id);
        if (res == 1) {
            return ResultUtils.success();
        } else {
            return ResultUtils.error("删除失败");
        }
    }

    @ApiOperation(value = "通过id获取${ClassName}")
    @GetMapping(value = "/${className}/{id}")
    public Result get${ClassName}ById(@ApiParam("id") @PathVariable("id") ${primaryKey.javaType} id) {
        log.info("{}", "get${ClassName}ById");
        return ResultUtils.success(${className}Service.get${ClassName}ById(id));
    }

    @ApiOperation(value = "获取所有${ClassName}")
    @GetMapping(value = "/${className}")
    public Result list${ClassName}(Page page) {
        log.info("{}", "list${ClassName}");
        return ResultUtils.success(${className}Service.list${ClassName}(page));
    }
}

