package ${packageName}.controller;

import io.swagger.annotations.ApiOperation;
import io.swagger.annotations.ApiParam;
import io.swagger.annotations.ResponseHeader;
import lombok.extern.slf4j.Slf4j;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;
import ${packageName}.entity.${ClassName};
import ${packageName}.service.${ClassName}Service;
import ${packageName}.common.entity.Page;

/**
 * @ClassName ${ClassName}Controller
 * @Description TODO
 * @Author 江神
 * @Date ${now}
 * @Version 1.0
 **/
@RestController
@Slf4j
@RequestMapping("/api")
public class ${ClassName}Controller {
    @Autowired
    ${ClassName}Service ${className}Service;

    @ApiOperation(value = "添加${ClassName}")
    @PostMapping(value = "/${className}")
    public Object add${ClassName}(@ApiParam("${ClassName}") @RequestBody ${ClassName} ${className}) {
        log.info("{}","add${ClassName}");
        return ${className}Service.add${ClassName}(${className});

    }
    @ApiOperation(value = "修改${ClassName}")
    @PutMapping(value = "/${className}")
    public Object update${ClassName}(@ApiParam("${ClassName}") @RequestBody ${ClassName} ${className}) {
        log.info("{}","update${ClassName}");
        return ${className}Service.update${ClassName}(${className});

    }
    @ApiOperation(value = "删除${ClassName}")
    @DeleteMapping(value = "/${className}/{id}")
    public Object delete${ClassName}ById(@ApiParam("id") @PathVariable("id") ${primaryKey.javaType} id) {
        log.info("{}","delete${ClassName}ById");
        return ${className}Service.delete${ClassName}ById(id);
    }
    @ApiOperation(value = "通过id获取${ClassName}")
    @GetMapping(value = "/${className}/{id}")
    public Object get${ClassName}ById(@ApiParam("id") @PathVariable("id") ${primaryKey.javaType} id) {
        log.info("{}","get${ClassName}ById");
        return ${className}Service.get${ClassName}ById(id);
    }
    @ApiOperation(value = "获取所有${ClassName}")
    @GetMapping(value = "/${className}")
    public Object list${ClassName}(Page page) {
        log.info("{}","list${ClassName}");
        return ${className}Service.list${ClassName}(page);
    }
}

