package ${packageName}.mapper;

import org.apache.ibatis.annotations.*;
import ${packageName}.mapper.provider.${ClassName}Provider;
import org.mapstruct.Mapper;
import ${packageName}.entity.${ClassName};

import java.util.List;

/**
 * @InterfaceName ${ClassName}Mapper
 * @Description TODO
 * @Author 江神
 * @Date ${now}
 * @Version 1.0
 **/
@Mapper
public interface ${ClassName}Mapper {
    @Insert("insert into ${tableName}(#foreach($tableColumn in $tableColumns)$tableColumn.columnName#if($foreach.hasNext),#end#end) value(#foreach($tableColumn in $tableColumns)#{${className}.$tableColumn.javaColumnName}#if($foreach.hasNext),#end#end)")
    Integer add${ClassName}(@Param("${className}")${ClassName} ${className});

    @UpdateProvider(type=${ClassName}Provider.class,method="update${ClassName}")
    Integer update${ClassName}(${ClassName} ${className});

    @DeleteProvider(type=${ClassName}Provider.class,method="delete${ClassName}ById")
    Integer delete${ClassName}ById(${primaryKey.javaType} id);

    @SelectProvider(type=${ClassName}Provider.class,method="get${ClassName}ById")
    ${ClassName} get${ClassName}ById(${primaryKey.javaType} id);

    @SelectProvider(type=${ClassName}Provider.class,method="list${ClassName}")
    List<${ClassName}> list${ClassName}();

}
