package ${packageName}.mapper.provider;

import ${packageName}.entity.${ClassName};
import org.apache.ibatis.annotations.*;
import ${packageName}.mapper.provider.${ClassName}Provider;

/**
 * @ClassName ${ClassName}Provider
 * @Description TODO
 * @Author 江神
 * @Date ${now}
 * @Version 1.0
 **/
public class ${ClassName}Provider {
    public String update${ClassName}(${ClassName} ${className}){
        StringBuilder stringBuilder=new StringBuilder("update ${className} set ");
        #foreach($tableColumn in $tableColumns)
        #if ($tableColumn.columnKey!="PRI")

        if(${className}.$tableColumn.methodName!=null){
            stringBuilder.append("$tableColumn.columnName='");
            stringBuilder.append(${className}.$tableColumn.methodName);
            stringBuilder.append("'");
            #if($foreach.hasNext)

            stringBuilder.append(",");
            #end

        }
        #end
        #end

        stringBuilder.append(" where $pk='");
        stringBuilder.append(${className}.$pkMethodName);
        stringBuilder.append("'");

        return stringBuilder.toString();
    }
}
