package ${packageName}.mapper.provider;

import ${packageName}.entity.${ClassName};


/**
 * @ClassName ${ClassName}Provider
 * @Description TODO
 * @Author 江神
 * @Date ${now}
 * @Version 1.0
 **/
public class ${ClassName}Provider {
    public String update${ClassName}(${ClassName} ${className}){
        StringBuilder stringBuilder=new StringBuilder("update ${className} set ");
        #foreach($tableColumn in $tableColumns)
        #if ($tableColumn.columnKey!="PRI")

        if(${className}.$tableColumn.methodName!=null){
            stringBuilder.append("$tableColumn.columnName='");
            stringBuilder.append(${className}.$tableColumn.methodName);
            stringBuilder.append("'");
            #if($foreach.hasNext)

            stringBuilder.append(",");
            #end

        }
        #end
        #end

        stringBuilder.append(" where ${primaryKey.pk}='");
        stringBuilder.append(${className}.$primaryKey.pkMethodName);
        stringBuilder.append("'");

        return stringBuilder.toString();
    }

    public String delete${ClassName}ById(${primaryKey.javaType} id){//暂时设定主键为Integer,后封装一个主键类
        StringBuilder stringBuilder=new StringBuilder("delete from  ${className} where ${primaryKey.pk}='");
        stringBuilder.append(id);
        stringBuilder.append("'");
        return stringBuilder.toString();
    }

    public String get${ClassName}ById(${primaryKey.javaType} id){
        StringBuilder stringBuilder=new StringBuilder("select * from  ${className} where ${primaryKey.pk}='");
        stringBuilder.append(id);
        stringBuilder.append("'");
        return stringBuilder.toString();
    }

    public String list${ClassName}(){
        StringBuilder stringBuilder=new StringBuilder("select * from  ${className}");
        return stringBuilder.toString();

    }
}
