package ${packageName}.service;

import ${packageName}.entity.${ClassName};

import com.github.pagehelper.PageInfo;
import com.github.pagehelper.Page;
import com.github.pagehelper.PageHelper;
import java.util.List;
/**
 * @InterfaceName ${ClassName}Service
 * @Description TODO
 * @Author 江神
 * @Date ${now}
 * @Version 1.0
 **/
public interface ${ClassName}Service {

    Integer add${ClassName}(${ClassName} ${className});

    Integer update${ClassName}(${ClassName} ${className});

    Integer delete${ClassName}ById(${primaryKey.javaType} id);

    ${ClassName} get${ClassName}ById(${primaryKey.javaType} id);

    PageInfo<${ClassName}> list${ClassName}();
}
