package ${packageName}.service.impl;

import lombok.extern.slf4j.Slf4j;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import ${packageName}.service.${ClassName}Service;
import ${packageName}.mapper.${ClassName}Mapper;
import ${packageName}.entity.${ClassName};
import ${packageName}.common.entity.Page;

import com.github.pagehelper.PageInfo;
import com.github.pagehelper.PageHelper;

import java.util.List;

/**
 * @ClassName ${ClassName}ServiceImpl
 * @Description TODO
 * @Author 江神
 * @Date ${now}
 * @Version 1.0
 **/
@Service
@Slf4j
public class ${ClassName}ServiceImpl implements ${ClassName}Service {
    @Autowired
    ${ClassName}Mapper ${className}Mapper;
    @Override
    public Integer add${ClassName}(${ClassName} ${className}){
        return ${className}Mapper.add${ClassName}(${className});
    }
    @Override
    public Integer update${ClassName}(${ClassName} ${className}){
        return ${className}Mapper.update${ClassName}(${className});
    }
    @Override
    public Integer delete${ClassName}ById(${primaryKey.javaType} id){
        return ${className}Mapper.delete${ClassName}ById(id);
    }
    @Override
    public ${ClassName} get${ClassName}ById(${primaryKey.javaType} id){
        return ${className}Mapper.get${ClassName}ById(id);
    }
    @Override
    public PageInfo<${ClassName}> list${ClassName}(Page page){
        PageHelper.startPage(page.getPageNum,page.getPageSize);//这块再封装一个Page:pageNum-页数，pageSize-容量
        return new PageInfo<${ClassName}>(${className}Mapper.list${ClassName}());
    }


}
