package ${packageName}.service;

import ${packageName}.entity.${ClassName};

import java.util.List;
/**
 * @InterfaceName ${ClassName}Service
 * @Description TODO
 * @Author 江神
 * @Date ${now}
 * @Version 1.0
 **/
public interface ${ClassName}Service {

    Integer add${ClassName}(${ClassName} ${className});

    Integer update${ClassName}(${ClassName} ${className});

    Integer delete${ClassName}ById(Integer id);

    ${ClassName} get${ClassName}ById(Integer id);

    List<${ClassName}> list${ClassName}();
}
